<?xml version="1.0" encoding="utf-8"?>
<launch>

<include file="$(find smb_gazebo)/launch/smb_gazebo.launch">

<arg name="world_file"	 value="/usr/share/gazebo-11/worlds/robocup14_spl_field.world"/>
<!--arg name="world_file"   value="$(find smb_highlevel_controller)/worlds/singlePillar.world"/-->
<arg name="laser_enabled"	value="true"/>

</include>

<node name="scan_suscriber" pkg ="smb_highlevel_controller" type="scan_suscriber"  output="screen">
  <rospatam command="" file="$(smb_highlevel_controller)/config/scan.yaml"/>
</node>

<!--node name ="keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/-->

<node name ="rviz" pkg="rviz" type="rviz" output="screen"/>


</launch>
